@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --color-primary: rgb(171, 196, 255);
    --color-secondary: rgb(193, 211, 254);
    --color-tertiary: rgb(204, 219, 253);
    --color-bg: rgb(237, 242, 250);
    --color-lighter-bg: rgb(245, 247, 250);
    --color-border: rgb(215, 227, 252);
    --color-text: rgb(30, 41, 59);

    --color-dark-primary: rgb(99, 102, 241);
    --color-dark-secondary: rgb(59, 130, 246);
    --color-dark-tertiary: rgb(30, 64, 175);
    --color-dark-bg: rgb(12, 18, 30);
    --color-lighter-dark-bg: rgb(17, 24, 39);
    --color-dark-border: rgb(55, 65, 81);
    --color-dark-text: rgb(229, 231, 235);
}

:root {
    scroll-behavior: smooth;
    font-family: 'Montserrat';
    color: rgb(30,41,59);
    background-color: rgb(245, 247, 250);
}

html, body {
    scroll-behavior: smooth;
}

.dark {
    color: rgb(229, 231, 235);
    background-color: rgb(17, 24, 39)
}